@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  width: 100%;
  background-color: #ededed !important;
  overflow-y: auto;
  /* overflow-x: auto; */
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

section {
  min-height: 90vh;
}

footer {
  padding: 5%;
  width: 90%;
}
