@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html {
  font-size: 62.5%;
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: #ededed !important;
  /* overflow: hidden; */
  box-sizing: inherit;
}
.main-co {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.cont {
  max-width: 92rem;
  width: 90%;
  height: 52rem;

  background-color: white;
  border-radius: 0.8rem;
  box-shadow: 0rem 0.4rem 2rem 0rem rgba(0, 0, 0, 0.08);
  offset: 0rem, 0.4rem rgba(0, 0, 0, 0.08);

  margin-top: 7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logo1 {
  padding: 4rem;
}

.img1 {
  float: right;
}
.img31 {
  float: left;
  margin-left: 4rem;
}

.left {
  grid-column: 1;
  border-right: 0.1rem solid #dadce0;
}

.right {
  grid-column: 2;
}

.signIn_text1 {
  width: 9.2rem;
  height: 3.6rem;
  padding-left: 4rem;
  padding-bottom: 2rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.6rem;
  /* identical to box height */

  /* Dark Black/Text/Default */

  color: #333333;
}
.text-para1 {
  width: 33.1rem;
  height: 4.4rem;
  padding-left: 4rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.2rem;
  /* or 157% */

  /* Dark Black/Text/Default */

  color: #333333;
}

.para-text1 {
  width: 34.7rem;
  height: 6rem;
  margin-top: 13rem;
  padding-left: 4rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;

  /* Dark Black/Text/Default */

  color: #333333;
}

.peopleImg {
  margin-top: 4rem;
  margin-left: 1rem;
}

.input-col1 {
  box-sizing: border-box;
  margin-left: 4rem;
  margin-top: 4rem;
  height: 5.2rem;
  width: 36rem;

  /* White */

  background: #ffffff;
  /* Grey Border */

  border: 0.1rem solid #dadce0;
  border-radius: 0.4rem;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  padding-left: 1rem;
  /* identical to box height */

  /* Dark Black/Text/Default */

  color: #333333;
}
.input-col1::placeholder {
  left: 5.56%;
  right: 30.28%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  /* identical to box height */

  /* Dark Black/Text/Default */

  color: #333333;

  opacity: 0.5;
}
.btn1 {
  width: 36rem;
  height: 5.2rem;
  margin-left: 4rem;
  margin-top: 2rem;
  /* Blue (theme) */

  background: #295bdc;
  border-radius: 0.4rem;
  border-color: #295bdc;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.2rem;
  /* identical to box height */

  /* White */

  color: #ffffff;
}

.forgot-text1 {
  width: 12.9rem;
  height: 1.9rem;
  margin-top: 2rem;
  margin-left: 16rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.9rem;
  /* identical to box height */

  /* Blue (theme) */

  color: #295bdc;
}
.password-box {
  box-sizing: border-box;
  margin-left: 4rem;
  margin-top: 2rem;
  height: 5.4rem;
  width: 36rem;

  /* White */

  background: #ffffff;
  /* Grey Border */

  border: 0.1rem solid #dadce0;
  border-radius: 0.4rem;
}

.input-col21 {
  box-sizing: border-box;
  height: 5.2rem;
  width: 34rem;

  /* White */

  background: #ffffff;
  /* Grey Border */

  border: 0.1rem solid white;
  border-radius: 0.4rem;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  padding-left: 1rem;
  /* identical to box height */

  /* Dark Black/Text/Default */

  color: #333333;
}
.input-col21::placeholder {
  left: 5.56%;
  right: 30.28%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  /* identical to box height */

  /* Dark Black/Text/Default */

  color: #333333;

  opacity: 0.5;
}
.btn21 {
  width: 36rem;
  height: 5.2rem;
  margin-left: 4rem;
  margin-top: 2rem;
  /* Blue (theme) */

  background: #295bdc;
  border-radius: 0.4rem;
  border-color: #295bdc;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.2rem;
  /* identical to box height */

  /* White */

  color: #ffffff;
}
.forgot-text21 {
  width: 12.9rem;
  height: 1.9rem;
  margin-top: 2rem;
  margin-left: 16rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  /* identical to box height */

  /* Blue (theme) */

  color: #295bdc;
}
/* .eyeIcon1 {
  position: absolute;
  left: 58.3rem;
  top: 41.2rem;
} */

.end-text1 {
  height: 1.9rem;
  text-align: center;
  padding: 2rem;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  /* identical to box height */

  text-align: center;

  /* Dark Black/Text/Default */

  color: #333333;
}
.second-box {
  box-sizing: border-box;
  margin-left: 4rem;
  margin-top: 2rem;
  height: 5.4rem;
  width: 36rem;

  /* White */

  background: #ffffff;
  /* Grey Border */

  border: 0.1rem solid #dadce0;
  border-radius: 0.4rem;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  padding-left: 1rem;
}

.second-box::placeholder {
  left: 5.56%;
  right: 30.28%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  /* identical to box height */

  /* Dark Black/Text/Default */

  color: #333333;

  opacity: 0.5;
}

.input-col-page2 {
  box-sizing: border-box;
  margin-left: 4rem;
  margin-top: 1.5rem;
  height: 5.2rem;
  width: 36rem;

  /* White */

  background: #ffffff;
  /* Grey Border */

  border: 0.1rem solid #dadce0;
  border-radius: 0.4rem;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  padding-left: 1rem;
  /* identical to box height */

  /* Dark Black/Text/Default */

  color: #333333;
}
.input-col-page2::placeholder {
  left: 5.56%;
  right: 30.28%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  /* identical to box height */

  /* Dark Black/Text/Default */

  color: #333333;

  opacity: 0.5;
}
