@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  height: 100%;
  width: 100%;
  background-color: #fafafa;
  /* overflow: hidden; */
  overflow-y: auto;
  /* overflow-x: auto; */
  overflow-x: hidden;
}
.apps {
  /* My Apps */

  position: relative;
  width: 16.1rem;
  height: 2.1rem;
  left: 13.9rem;
  padding-top: 2.9rem;
  padding-bottom: 1.6rem;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.1rem;
  /* identical to box height */

  /* Dark Black/Text/Default */
  color: #333333;
  /* flex: 1; */
}
.textBlue {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #295bdc;
  position: relative;
  color: white;
  text-align: center;
  margin-left: 0.5rem;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  /* line-height: 12rem; */
}

.box {
  position: relative;
  width: 90%;
  max-width: 14rem;
  height: 9rem;
  margin-left: 3.5rem;

  background: #ffffff;
  /* Blue (theme) */
  border: 0.2rem solid white;
  /* border: 2rem solid #295bdc; */
  box-shadow: 0rem 0.4rem 0.8rem rgba(39, 83, 163, 0.2);
  border-radius: 0.8rem;

  float: left;
}

.box:hover {
  border: 0.2rem solid #7e93c9;
}
.lmsLogo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  display: block;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1.5rem;
  width: 90%;
  max-width: 18rem;
  float: left;
  margin-bottom: 1rem;
}
.item {
  place-self: center;
  margin-top: 2.8rem;
  margin-left: 3.5rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.myapps {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.1rem;
  padding: 1rem;
  /* padding-bottom: 20rem; */
  padding-top: 0.5rem;
}

.textBlue {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #295bdc;
  position: relative;
  color: white;
  text-align: center;
  margin-left: 0.5rem;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  /* line-height: 12rem; */
}

@media (max-width: 600px) {
  .item {
    display: none;
  }
}
